.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.border {
  border: 3px #222 solid;
  width: 300px;
  margin: 3px;
}

.board {
  border: 3px rgb(4, 253, 45) solid;
  width: 300px;
  height: 300px;
  margin: 3px;
}
.meeple-player1 {
  border: 1px #222 solid;
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  background-color: #0000ff;
  color: #ffff00;
  margin: 3px;
  text-align: center;
}

.meeple-player2 {
  border: 1px #222 solid;
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  background-color: #ffff00;
  color: #0000ff;
  margin: 3px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
