
html, body { height: 100%; margin: 0; }
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  background-color: #111;
  color: #eee;  
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
  padding: 1rem;
  border-bottom: 0.2rem solid #fff;
  user-select: none;
}
p { font-size: 1.2rem; }
b { font-weigh: 700; }

#dice1, #dice2 {
  font-size: 8rem;
  line-height: 1.0;
  user-select: none;
}
#dices {
  user-select: none;
}
#dices:hover { cursor: pointer; }